<div class="jumbotron">
  <h1 class="display-3">Winter, Spring, Summer or Fall</h1>
  <p class="lead">Spring is the time of year when it is summer in the sun and winter in the shade. - C.Dickens Great Expectations</p>
   <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://thefirehoseproject.com" role="button">What's your favorite season?</a>
  </p>
  <hr class="my-4">
   <p>This page is hosted on <a href="https://daisy-kelli-givens.herokuapp.com">heroku</a>. The code for the application is hosted on <a href="https://github.com/kelligivens/QUIZ1">Github</a>.</p>
 
<p>© <%= Date.today.year %> My App.</p>



