<div class="jumbotron">
  <h1 class="display-3">Winter, Spring, Summer or Fall</h1>
  <p class="lead">This is a rails application, not a plain HTML page.</p>
  <hr class="my-4">
   <p>It has a page with static content on it and is hosted on <a href="https://daisy-kelli-givens.herokuapp.com">heroku</a>. The code for the application is hosted on <a href="https://github.com/kelligivens/QUIZ1">Github</a>.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://thefirehoseproject.com" role="button">What's your favorite?</a>
  </p>
<p>© <%= Date.today.year %> My App.</p>



