<div class="jumbotron">
  <h1 class="display-3">What is Your Favorite Season?</h1>
  <p class="lead">There are 4 wonderful seasons but everyone has a favorite!</p>
  <hr class="my-4">
  <p>Winter, Spring, Summer or Fall . . . The choice is your's!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://thefirehoseproject.com" role="button">Learn more</a>
  </p>
<p>© <%= Date.today.year %> My App.</p>

