<!DOCTYPE html>
<html>
<head>
  <title>QUIZ</title>
    <%= csrf_meta_tags %>
  
   </head>
  <body>
      <header class="row">
        <div class="col-4">
  <br /> <br /><h2>Web Development Pipeline</h2>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body style="background-color:#eee;">
<div class="container" style="margin-top:10%;">

  <div class="jumbotron row-fluid" style="background-color:#fff;">
    <p>This is a rails application, not a plain HTML page.</p> 
    <p>This web application page has static content on it.</p>
    <p>This web application is hosted on heroku.</p>
    <p>The code for the application is hosted up on GitHub.</p>
  </div>
 